<?xml version="1.0" encoding="utf-8"?>

<manifest 	package="com.binaryelysium.ephemvpn"
  			android:versionCode="1"
  			android:versionName="1.0"
  			android:installLocation="internalOnly"
  			xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-sdk     android:minSdkVersion="15"/>

  <application 	android:debuggable="true"
   				android:icon="@drawable/ic_launcher"
    			android:label="@string/app_name"
                android:theme="@style/AppTheme"
    			android:name="com.binaryelysium.ephemvpn.ScriptApplication">

      <activity
            android:name="com.binaryelysium.ephemvpn.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity 	android:name="com.binaryelysium.ephemvpn.ScriptActivity"
      			android:configChanges="keyboardHidden|orientation"
      			android:theme="@android:style/Theme.Translucent.NoTitleBar">

       <intent-filter>
        <action		android:name="com.googlecode.android_scripting.action.ACTION_LAUNCH_FOR_RESULT" />
        <category	android:name="android.intent.category.DEFAULT" />
      </intent-filter>

    </activity>

    <service 	android:name="ScriptService">
    	<intent-filter>
			<action android:name="com.binaryelysium.ephemvpn.ScriptService" />
		</intent-filter>
	</service>

    <service 	android:name="BackgroundScriptService">
    	<intent-filter>
			<action android:name="com.binaryelysium.ephemvpn.BackgroundScriptService" />
		</intent-filter>
	</service>

	<service android:name="com.binaryelysium.ephemvpn.RpcServerService" />

    <activity 	android:configChanges="keyboardHidden|orientation"
      			android:name="com.googlecode.android_scripting.activity.FutureActivity"
      			android:theme="@android:style/Theme.Translucent"/>

    <activity 	android:theme="@android:style/Theme.Translucent.NoTitleBar"
      			android:configChanges="keyboardHidden|orientation"
      			android:name="com.binaryelysium.ephemvpn.DialogActivity"/>

	<activity
     		android:name="com.binaryelysium.ephemvpn.RpcServerLauncher"
     		android:taskAffinity=""
     		android:theme="@android:style/Theme.Translucent.NoTitleBar">
     		<intent-filter>
       		<action android:name="android.intent.action.VIEW" />
       		<category android:name="android.intent.category.DEFAULT" />
     		</intent-filter>
   	</activity>

</application>

  <supports-screens android:xlargeScreens="true" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
